@model IEnumerable<Demo.Models.DatBan>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TableDatBan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMain.cshtml";
}

<h1>Danh sách Đặt bàn</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameKh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaydat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sl)
            </td>
        </tr>
}
    </tbody>
</table>
