@model IEnumerable<Demo.Models.ChitietHdx>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TableChiTietHDX";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMain.cshtml";
}
<h1>Bảng Chi Tiết Hóa Đơn Xuất</h1>

<p>
        <a asp-controller="Forms" asp-action="AddChiTietHDX" asp-route-idHDX="@ViewBag.idHDX">Tạo Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHdxNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHdxNavigation.NgayXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHhNavigation.TenHh)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>