@model IEnumerable<Demo.Models.Menu>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TableMenu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMain.cshtml";
}
<h1>Bảng Menu</h1>

<p>
    <a asp-controller="Forms" asp-action="AddMenu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <img src="@Url.Content("~/ProductImages/anhWeb/" + item.Anh)" alt="" width="50px" height="50px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiNavigation.TenLoai)
            </td>
            <td>
                <a asp-controller="Tables" asp-action="EditMenu" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>