@model IEnumerable<Demo.Models.NhanVien>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TableNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMain.cshtml";
}
<h1>Bảng Nhân Viên</h1>

<p>
    <a asp-action="AddNhanVien" asp-controller="Forms">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnhDaiDien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuongCb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCvNavigation.TenCv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPhongNavigation.TenPhong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                 <img src="@Url.Content("~/Employee/" + item.AnhDaiDien)" alt="" width="50px" height="50px"/>    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            @if (item.GioiTinh)
            {
                <td>Nam</td>
            }
            else
            {
                <td>Nữ</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.LuongCb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCvNavigation.TenCv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPhongNavigation.TenPhong)
            </td>
            <td>
                <a asp-controller="Forms" asp-action="EditNhanVien" asp-route-IdNV="@item.Id">Edit</a> |
                <a asp-controller="Forms" asp-action="DeleteNhanVien" asp-route-IdNV="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>