@model IEnumerable<Demo.Models.Contact>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TableContact";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminMain.cshtml";
}

<h1>Danh sách Contact</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Yourname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YourEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Yourname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YourEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendMessage)
            </td>
            <td>
                <a asp-action="DeleteContact" asp-controller="Forms" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
