@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Blog>
@foreach (var item in Model)
{
    
<div class="col-md-4 ftco-animate">
    <div class="blog-entry">
            <a asp-controller="home" asp-action="viewblog" asp-route-Id ="@item.Id" class="block-20" style="background-image: url('@Url.Content("../Blog/"+ @item.Anh)');">
        </a>
        <div class="text pt-3 pb-4 px-4">
            <div class="meta">
                <div><a asp-controller="home" asp-action="viewblog" asp-route-Id ="@item.Id">@item.NgayDang</a></div>
                <div><a asp-controller="home" asp-action="viewblog" asp-route-Id ="@item.Id">@item.TacGia</a></div>
            </div>
            <h3 class="heading"><a asp-controller="home" asp-action="viewblog" asp-route-Id ="@item.Id">@item.TieuDe</a></h3>
            <p class="clearfix">
                    @*<a href="@Url.Action("ViewBlog", "home")" class="float-left read">Read more</a>*@
                    <a asp-controller="home" asp-action="viewblog" asp-route-Id ="@item.Id" class="float-left read">Read more</a>

                <a asp-controller="home" asp-action="viewblog" asp-route-Id ="@item.Id" class="float-right meta-chat"><span class="icon-chat"></span> @item.CommentBlogs.Count()</a>
            </p>
        </div>
    </div>
</div>
}
@*@Html.PagedListPager(Model,page => Url.Action("Blog", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
	LiElementClasses = new List<String> {"page-item"},
	PageClasses = new List<String> {"page-link"}
})*@
<div class="product__pagination row no-gutters my-5 col justify-content-center block-27">
    @Html.PagedListPager(Model,page => Url.Action("Blog", new {page=page}))
</div>
